html, body{
    margin: 0;
    padding: 0;
}
#container{
    position: relative;
    height: 85vh;
    background-color: pink;
    padding-top: 100px;
}
#container > #conteudo{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}