@charset "UTF-8";
@font-face {
    font-family: work sans;
    src: url(../WorkSans-Italic-VariableFont_wght.ttf) format(truetype);
}

body{
    font-family: work sans,  sans-serif;
}

a{
    color: rgb(206, 194, 30);
    text-decoration: none;
}

a:active{
    color: red;
}

a:visited{
    color: darkred;
}

.youtube::after{
    content: ' <=';
    color: darkcyan;
}

a:hover{
    font-weight: bold;
    color: blue;
}

.youtube::before{
    content: ' =>';
    color: darkcyan;
}